/*Carousel*/
.first-block {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  font-family: 'Lato', sans-serif;
}

/*About*/
.second-block {
	border-radius: 0px 0px 15px 15px;
	width: 100%;
	height: 100%;
 	margin: 0 auto;
	position: relative;
	background-color: #0C2D56;
	color: #ffffff; 
	z-index: 11;
	font-family: 'Lato', sans-serif;
  text-align: center;
}

/*Events*/
.third-block {
  border-radius: 0px 0px 15px 15px;
	height: 100%;
 	margin: 0 auto;
	position: relative;
	background-color: #2c3e50;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 11;
  text-align: center;
	color: #ffffff; 
	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Timetable*/
.fourth-block {
  border-radius: 0px 0px 15px 15px;
	height: 100%;
 	margin: 0 auto;
	position: relative;
	background-color: #c0392b;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 11;
	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Overview*/
.fifth-block {
  border-radius: 0px 0px 15px 15px;
	height: 100%;
 	margin: 0 auto;
	position: relative;
	background-color: #16a085;
  text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 11;
	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Location*/
.sixth-block {
  border-radius: 0px 0px 15px 15px;
	height: 100%;
 	margin: 0 auto;
	position: relative;
	background-color: #2980B9;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 11;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Executives*/
.seventh-block {
  border-radius: 0px 0px 15px 15px;
	height: 100%;
 	margin: 0 auto;
	position: relative;
	background-color: #2c3e50;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 11;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
  text-align: center;
	/*opacity: 0;*/
}

/*Contact*/
.eighth-block {
  border-radius: 0px 0px 15px 15px;
 	height: 100%;
 	margin: 0 auto;
	position: relative;
	background-color: #ffffff;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 11;
	font-color: #000000;
	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

.swipe {
  height: 50px;
  opacity: 0.5;
  position: relative;
}
.second-block, .third-block, .fourth-block, .fifth-block, .sixth-block, .seventh-block, .eighth-block{
  text-align: center;
  box-shadow: inset 0px 4px 62px -1px #333333;
  -webkit-box-shadow: inset 0px 4px 62px -1px #333333;
  -moz-box-shadow: inset 0px 4px 62px -1px #333333;
  -o-box-shadow: inset 0px 4px 62px -1px #333333;
}

.third-block:before, .fourth-block:before, .fifth-block:before, .sixth-block:before, .seventh-block:before {
  display: inline-block;
  vertical-align: middle;
  /* For visualization 
  background: #808080; width: 5px;
  */
}

.fixed > .row {
  height: 92.2vh;
}  
.fixed > .row > .first-block {
  height: 92.2vh;
}  
.fixed > .row > .first-block > .carousel {
  height: 92.2vh;
}  
.fixed > .row > .first-block > .carousel > .carousel-inner {
  height: 92.2vh;
}  
.fixed > .row > .first-block > .carousel > .carousel-inner > .item {
  height: 92.2vh;
}  
.fixed > .row > .first-block > .carousel > .carousel-inner > .item > .active{
  height: 92.2vh;
}  
.fixed > .row > .first-block > .carousel > > .carousel-inner > .carousel-caption {
  height: 92.2vh;
} 


.fixed {
  width: 100vw;
  height: 92.2vh;
	z-index: 10;
	width: 100%;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  width: 85%;
  opacity: 0;

}

.centered-overview, .centered-about, .centered-executives, .centered-map {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  width: 85%;
  opacity: 0;

}

.centered-contact {
  display: inline-block;
  vertical-align: middle;
  color: #0C2D56;
  width: 85%;
  opacity: 0;
}

.centered-carousel {
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  border-radius: 10px;
}

.encapsulate {
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
  overflow: none;
}

.bgimg-initial, .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8{
  position: relative;
  margin: 0 auto;
  background-position: center;
  z-index: 10;
  height: 100%;
  padding-top: 12%;
  min-height: 100%;
  opacity: 0.7;
  padding-bottom: 12%;
}
/*
.bgimg-initial:before, .bgimg-1:before, .bgimg-2:before, .bgimg-3:before, .bgimg-4:before, .bgimg-5:before, .bgimg-6:before, .bgimg-7:before, .bgimg-8:before{

  position: relative;
  opacity: 1;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  background-attachment: fixed;
  z-index: 10;
  padding-top: 6%;
  padding-bottom: 6%;
  overflow-x: hidden; 
}
*/
.bgimg-initial {
  background: #41547F;
}

.bgimg-1 {
  /*background-image: url(../img/wall_1.jpg);*/
  background: #CFDEFF;
}

/*.bgimg-2 {
  background-image: url(../img/wall_2.jpg);
  min-height: 100%;
  width: 75%;
}*/

.bgimg-4 {
  background: #83A9FF;
  min-height: 100%;
}

/*.bgimg-5 {
  background-image: url(../img/wall_5.jpg);
  min-height: 100%;
  border-radius: 80px 40px 0px 0px;
  width: 86.25%;
}*/

.bgimg-6 {
  background: #00277F;
  min-height: 100%;
}

.bgimg-7 {
  background: #747778;
  min-height: 100%;
}

.bgimg-8 {
  background: #6987CC;
  min-height: 100%;
}

/* RESPONSIVE DIVS */

@media screen and ( max-width: 398px ) { /*for iPhone 5 and 5S*/
    .bgimg-initial, .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8{
      height: 160px;
      padding-top: 15%;
      padding-bottom: 15%;
    }
    .logo {
      width: 70px;
      height: 46px;
    }
}
@media screen and ( min-width: 399px ) { /*for iPhone 5 and 5S*/
    .bgimg-initial, .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8{
      height: 160px;
      padding-top: 15%;
      padding-bottom: 15%;
    }
}
/*
@media screen and ( min-width: 360px ) { /*for Samsung and Android devices with screen res=1080x1920 and above
    .bgimg-initial, .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8{
      height: 160px;
    }
}

@media screen and ( min-width: 375px ) { /*for iPhone 6 and above
    .bgimg-initial, .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8{
      height: 160px;
    }
}
*/
@media screen and ( min-width: 400px ) {
    .logo {
      width: 95px;
      height: 62px;
    }
}

@media screen and ( min-width: 600px ) {
    .logo {
      width: 112px;
      height: 85px;
    }
}

@media screen and ( min-width: 700px ) {
    .bgimg-initial, .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8{
      padding-top: 10%;
      padding-bottom: 10%;
    }
}
/*h1 {
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}*/
.caption-block {
	width: 100%;
	height: 100%;
	position: relative;
	color: #ffffff; 
	z-index: 11;
	font-family: 'Lato', sans-serif; 
 }

.caption {
    position: absolute;
    left: 0;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    color: #ffffff;
  	font-family: 'Lato', sans-serif;
}

.caption span.border{
    background: #b5bdc8; /* Old browsers */
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}

.race-table {
	border-color: #0C2D56;
}

.dots {
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-bottom: 1.75%;
  padding-top: 1.75%;
  margin: 0 auto;
  position: relative;
}

.sponsors {
	padding-top: 50px;
}

#map-canvas {
	height: 700px;
	width: 100%;
	display: block;
}

.color-white {
	color: #ffffff;
}
.color-blue {
	color: #0C2D56;
}

.timetable {
	width: 100%;
}
.executives-1 {
	padding-bottom: 20px;
}

.executives-2 {
	padding-bottom: 20px;
}

body:before {
  content: " ";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: auto;
  background: url(../img/wall.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, .img-circle, .img-responsive, p, dd, h1, h2, h3, h4, .text-center, span, tr, td, thead, th, tbody, .col-lg-4 {
  transition:all 2s ease; 
    -o-transition:all 2s ease; 
    -moz-transition:all 2s ease; 
    -webkit-transition:all 2s ease;

}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    width: 100%;
}
/* Timetable */

th {
	color: white;
	background-color: #0C2D56;
}

td {
	color: white;
	background-color: #0C2D56;
}

.run {
	background-color: #00B55B;
}
.intermediate-run {
  background-color: #ffffff;
}
.workout {
	background-color: #CF1A02;
}
.swim {
	background-color: #00DFFC;
}
.social {
	background-color: #FF9100;
}

.tooltip.top .tooltip-inner {
    background-color: #ffffff;
    color: #000033;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #ffffff;
      color: #0C2D56;
}

a.session-box {
    color: #0C2D56;
    text-decoration: underline;
}
a.session-box:hover {
	text-decoration: underline;
	color: #ff9900;
}

.img-responsive {
	display:block;
    margin:auto;
}

.dont-break-out {

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;

}



/* Navbar */

.navbar-default {
  -webkit-transition: all 0.6s;
   -moz-transition: all 0.6s;
  transition: all 0.6s; 
  transition: background 0.2s, padding 0.2s;
  opacity: 0.8;
  background-color: #06182d;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  z-index: 99;
  margin: 0 auto;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  border-radius: 0px 0px 0px 0px;
  border: 0px;
  min-height: 7.8vh;
}

.affix {
  -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
  transition: all 0.8s; 
  width: 100%;
  top:0;
  z-index: 9999;
}

.affix ~ .container {
  -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
  transition: all 0.8s;  
  background-color: #000000 !important;
  position: absolute;
}	

.affix .navbar-default {
 background-color: #000000 !important;
}

.navbar-header {
  opacity: 0;
}

.navbar-default .navbar-text {
  color: #000000;

}
.navbar-default .navbar-nav > li > a {
  font-size: 100%;
  padding-top: 3.3vh;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #15B1D4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	-webkit-transition: all 0.6s;
   -moz-transition: all 0.6s;
  transition: all 0.6s;
  color: #ffffff;
  background-color: #06182d;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

.sponsors > .col-md-4 {
    padding-left: 100px;
    padding-right: 100px;
}