
/*Carousel*/
.first-block {
    border-radius: 5px;
    width: 97%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    font-family: 'Lato', sans-serif;
}

.footsteps {
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/*About*/
.second-block {
	border-radius: 10px;
	width: 100%;
  	height: 100%;
 	margin: 0 auto;
  	position: relative;
	background-color: #0C2D56;
	color: #ffffff; 
  	z-index: 11;
  	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Events*/
.third-block {
  	height: 100%;
 	margin: 0 auto;
  	position: relative;
	background-color: #F89D0E;
	padding-top: 2%;
  	padding-bottom: 2%;
  	z-index: 11;
  	color: #ffffff; 
  	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Timetable*/
.fourth-block {
  	height: 100%;
 	margin: 0 auto;
  	position: relative;
	background-color: #0086B8;
	padding-top: 2%;
  	padding-bottom: 2%;
  	z-index: 11;
  	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Overview*/
.fifth-block {
  	height: 100%;
 	margin: 0 auto;
  	position: relative;
	background-color: #63000D;
	padding-top: 2%;
  	padding-bottom: 2%;
  	z-index: 11;
  	color: #0C2D56;
  	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Location*/
.sixth-block {
  	height: 100%;
 	margin: 0 auto;
  	position: relative;
	background-color: #5C015C;
	padding-top: 2%;
  	padding-bottom: 2%;
  	z-index: 11;
  	color: #ffffff;
  	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Executives*/
.seventh-block {
  	height: 100%;
 	margin: 0 auto;
  	position: relative;
	background-color: #015C5C;
	padding-top: 2%;
  	padding-bottom: 2%;
  	z-index: 11;
  	color: #ffffff;
  	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

/*Contact*/
.eighth-block {
   	height: 100%;
 	margin: 0 auto;
  	position: relative;
	background-color: #5C015C;
	padding-top: 2%;
  	padding-bottom: 2%;
  	z-index: 11;
  	color: #ffffff;
  	font-family: 'Lato', sans-serif;
	/*opacity: 0;*/
}

.second-block, .third-block, .fourth-block, .fifth-block, .sixth-block, .seventh-block, .eighth-block{
  text-align: center;
}

/* RESPONSIVE DIVS */
@media screen and ( max-width: 600px ) {
 	.fourth-block, .fifth-block, .sixth-block, .seventh-block, .eighth-block{
  		width: 91.5%;
  	}
}

@media screen and ( max-width: 799px ) {
	.fourth-block, .fifth-block, .sixth-block, .seventh-block, .eighth-block{
  		width: 92.8%;
  	}
}

@media screen and ( min-width: 800px ) {
	.fourth-block, .fifth-block, .sixth-block, .seventh-block, .eighth-block{
  		width: 96.5%;
  	}
}


@media screen and ( min-width: 960px ) {
	.fourth-block, .fifth-block, .sixth-block, .seventh-block, .eighth-block{
  		width: 97%;
  	}
}

@media screen and ( min-width: 1200px ) {
	.fourth-block, .fifth-block, .sixth-block, .seventh-block, .eighth-block{
  		width: 97.5%;
  	}
}


@media screen and ( min-width: 1440px ) {
	.fourth-block, .fifth-block, .sixth-block, .seventh-block, .eighth-block{
  		width: 98.7%;
  	}

}

.third-block:before, .fourth-block:before, .fifth-block:before, .sixth-block:before, .seventh-block:before {
  display: inline-block;
  vertical-align: middle;
  /* For visualization 
  background: #808080; width: 5px;
  */
}


.fixed {
	z-index: 10;
	height: 550px;
	width: 100%;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  width: 85%;
}

.centered-carousel {
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  width: 85%;
  border-radius: 10px;
}

.encapsulate {
	max-width: 85%;

	height: 100%;
	margin: 0 auto;
}

.bgimg-initial, .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6{
  position: relative;
  opacity: 1;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 10;
}

.bgimg-1 {
  background-image: url(../img/wall_1.jpg);
  min-height: 100%;
}

.bgimg-2 {
  background-image: url(../img/wall_2.jpg);
  min-height: 100%;
}

.bgimg-3 {
  background-image: url(../img/wall_3.jpg);
  min-height: 100%;
}

.bgimg-4 {
  background-image: url(../img/wall_4.jpg);
  min-height: 100%;
}

.bgimg-5 {
  background-image: url(../img/wall_5.jpg);
  min-height: 100%;
}

.bgimg-6 {
  background-image: url(../img/wall_6.png);
  min-height: 100%;
}

.bgimg-initial {
  border-radius: 10px 10px 0px 0px;
  background-image: url(../img/wall_initial.jpg);
  min-height: 100%;
}

.caption-block {
	width: 100%;
  	height: 100%;
  	position: relative;
	color: #ffffff; 
  	z-index: 11;
  	font-family: 'Lato', sans-serif;
 }

.caption {
    position: absolute;
    left: 0;
    padding-bottom: 5px;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ffffff;
  	font-family: 'Lato', sans-serif;
}

.caption span.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}
.race-table {
	border-color: #0C2D56;
}

.sponsors {
	padding-top: 50px;
}

#map-canvas {
	height: 700px;
	width: 100%;
	display: block;
}

.color-white {
	color: #ffffff;
}
.color-blue {
	color: #0C2D56;
}

.timetable {
	width: 100%;
}
.executives-1 {
	padding-bottom: 100px;
}

.executives-2 {
	padding-bottom: 100px;
}

body:before {
  content: " ";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../img/wall.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
    overflow-x: hidden;
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%
}

/* Timetable */

th {
	color: white;
	background-color: #0C2D56;
}

td {
	color: white;
	background-color: #0C2D56;
}

.run {
	background-color: #00B55B;
}
.intermediate-run {
  background-color: #ffffff;
}
.workout {
	background-color: #CF1A02;
}
.swim {
	background-color: #0051FF;
}
.social {
	background-color: #FF9100;
}

.tooltip.top .tooltip-inner {
    background-color: #ffffff;
    color: #000033;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #ffffff;
      color: #0C2D56;
}

a.session-box {
    color: #0C2D56;
    text-decoration: underline;
}
a.session-box:hover {
	text-decoration: underline;
	color: #ff9900;
}

.img-responsive {
	display:block;
    margin:auto;
}

.dont-break-out {

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;

}



/* Navbar */

.navbar-default {
-webkit-transition: all .2s;
   -moz-transition: all .2s;
  transition: all .2s; 
  opacity: 0.9;
  background-color: #06182d;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0px;
  z-index: 99;
}

.affix {
      top:0;
      width: 100%;
      z-index: 9999;
}

.affix ~ .container {
     position: relative;
     top: 50px;
}	

.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00FBFF;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00FBFF;
  background-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #00FBFF;
  background-color: transparent;
}