/* FONTS */

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v5/pxiDyp8kv8JHgFVrJJLm111VFteOcEg.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v5/pxiDyp8kv8JHgFVrJJLm111VGdeOcEg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v5/pxiDyp8kv8JHgFVrJJLm111VF9eO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.section {
  overflow: hidden;
}
.blue-block, .black-block, .purple-block, .block, .empty-block, .block {
  text-align: center;
  /*border: solid 2px white;*/
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  color: white;
  display: table;
  text-align: center;
  overflow: hidden !important;
  position: relative;
  /*border-radius: 6px;*/
  -webkit-box-shadow: 0px 3px 30px 7px rgba(110,110,110,1);
  -moz-box-shadow: 0px 3px 30px 7px rgba(110,110,110,1);
  box-shadow: 0px 3px 30px 7px rgba(110,110,110,1);
}
section {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.load-hidden {
  display: none;
}

/*.blue-dark,
.blue-lighter,
.pink,
.purple,
.purple-darker,
.purple-darkest {
  border-radius: 6px;
}*/
.first {
  background-color: #233d5d;
}

.second {
  background-color: #252323;
}

.third {
  background-color: #233d5d;
}

.fourth {
  background-color: #252323;
}

.fifth {
  background-color: #233d5d;
}

.sixth {
  background-color: #252323;
}

.seventh {
  background-color: #233d5d;
}

/*.about, .membership,
.social, .executives,
.promo, .timetable-bg,
.contact-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
   -webkit-animation: kenburns 120s linear 0s infinite normal;
  animation: kenburns 120s linear 0s infinite normal;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  height: 100%;
  z-index: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}*/

/*.promo-bg {
  background-image: url(../img/promo.jpg);
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}*/

.black-block {
  background: rgba(10, 10, 10, 0.7); 
}
.promo .centered .text-centered .col-md-12 {
  /*margin-top: 30px;*/
}
.club-image {
  border-radius: 16px;  
  position: relative;
  /*left: 40%;*/
  /*transform: translate(-50%,37%);*/
  transition: 0.4s;
}
.club-image:hover {
    transform: translate(-40%,-45%) scale(1.7, 1.8) ;
}
.club-banana {
  float: right;
  max-width: 100px !important;
  transform: translate(-10%,-15%) scale(1.4, 1.4);
}
.club-promo {
  transform: translate(-20%,0%) !important;
  float: right;
  width: 80%;
}
.club-membership {
  /*transform: translate(-50%,22%);*/
}
.club-membership:hover {
  transform: translate(-10%,-20%) scale(1.2, 1.2);
}
.bottom {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  z-index: 10;
  padding-bottom: 30px;
}
.purple-block {
  background: rgba(63, 55, 92, 0.8);
}
.empty-block {
  overflow: hidden;
  vertical-align: middle;
}
 h2, h3, h4, h5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
@media (max-width: 800px) and (orientation : landscape){
  .landscape-message {
    display: block;
  }
  #content-wrapper {
    display: none;
  }
  .navbar-toggle {
    display: none;
  }
}
    
.img-circle {
  width: 85px;
  height: 85px;
  margin-bottom: 10px;
  border: 2px solid white;
}
.no-padding, .no-padding-sides, .no-padding-promo {
  padding: 0 !important; 
}
.no-padding-promo {
  margin-top: 15px;
}
.no-padding .col-xs-4 {
  margin-bottom: 0;
}
.carousel-caption {
  bottom: 150px;
  left: 20px;
  width: 520px;
  font-weight: 900; 
  padding-bottom: 0px;
  text-align: left;
  text-shadow: none;
}

.carousel-caption h1 {
  font-size: 70px;
  padding: 8px; 
  font-weight: 900; 
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: black;
  font-style: italic;
  background: white;
}

.landscape-message {
  height: 100vh;
  width: 100vw;
  display: none;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: #3b3b3b;
  z-index: 20;
  position: fixed;
}
.landscape-message h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (max-width: 800px) 
and (orientation : landscape){
  .landscape-message {
    display: block;
  }
  .navbar-header {
    display: none;
  }
}
/*------------------BANNER VIDEO------------------*/

/*Add pattern overlay to video for better text readability and to hide video flaws*/
.video_contain {
      position: relative;
    width: 100%;
    height: 100%;
    background: rgba(17,51,90,.2);
    background-image: url(../img/pattern2.png);
    z-index: 5;
}

/* Pull video under overlay */
video {
  height: 100%;
  width: 100%;
  margin-top: -100%;
  bottom: 0;
  z-index: -1;
  position: relative;
  transform: scale(1.7, 1.7);
  object-fit: cover;
}

/* Push caption to center */
.caption {
  top: 30%;
}

/*--------------GOOGLE MAP BOTTOM----------------*/
#map-canvas {
  border: solid white;
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
}
.gm-style-iw {
   height: 100%;
   /*background-color: rgba(255, 255, 255, 0.5);*/
}

.gm-style-iw :first-child {
  overflow: hidden !important;
}


.gm-style-cc {
  display: none !important;
}
.firstHeading, #bodyContent > p {
  color: white;
  font-size: 100%;
  margin-top: -2px;
  margin-bottom: 28px;
}
#bodyContent {
  padding-bottom: 30px;
  text-align: center;
}


/*-------------TEXT BLOCK CONTAINERS-------------*/
.centered {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}
.text-centered {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}
.img-responsive {
  max-width: 200px;
}
#fp-nav.right {
  width: 30px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #3b3b3b;
}

#fp-nav ul li a .fp-sr-only {
  display: none;  
}

dt > h3 {
  margin: 0px 0px 0px 0px !important;
}
dt > h3 > a {
  line-height: 33px;
}
.table-responsive {
  overflow-x: scroll;
  border: 2px solid white;
  border-radius: 16px;
}
.table {
  margin-bottom: 0px !important;
}
.fp-scrollable {
  overflow: visible;
  width: 100%;
  height: 100%;
}
.select, .select-promo {
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  letter-spacing: .1em;
  transition:all 0.5s ease-in-out; 
  -o-transition:all 0.5s ease-in-out; 
  -moz-transition:all 0.5s ease-in-out; 
  -webkit-transition:all 0.5s ease-in-out;
  padding: 8px 18px 8px 25px;
  background-color: rgba(0, 0, 0, 0.2); 
}

.select, .select-promo {
  color: #fff; 
  font-family: 'Open Sans', sans-serif; 
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-right: 10px;
}

.select-promo {
  float: right;
  margin-top: 30px;
}
/*.select-promo {
  color: #08325b;
  font-family: 'Open Sans', sans-serif; 
  font-family: 'New Rocker', sans-serif;
  background: #fa9004;
  border: 1px solid #08325b;
  margin: 0 auto;
}*/
.select:hover, 
.select:focus, 
.select:active,
.select-promo:hover, 
.select-promo:focus, 
.select-promo:active {
  background-color: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  text-decoration: none;
  transition:all 0.5s ease-in-out; 
  -o-transition:all 0.5s ease-in-out; 
  -moz-transition:all 0.5s ease-in-out; 
  -webkit-transition:all 0.5s ease-in-out;
}

/*.select-promo:hover, 
.select-promo:focus, 
.select-promo:active {
  background-color: #08325b; 
  color: #fa9004;
  border-color: #fa9004; 
  text-decoration: none;
  transition:all 0.5s ease-in-out; 
  -o-transition:all 0.5s ease-in-out; 
  -moz-transition:all 0.5s ease-in-out; 
  -webkit-transition:all 0.5s ease-in-out;
}*/



.navbar-default .navbar-nav > li > a {
  font-size: 8px;
}
#fp-nav.right {
  left: 6px !important;
}
.col-md-12 {
  margin-top: 0%;
}
.navbar-default .navbar-nav > li > a {
  font-size: 18px;
}
.col-md-12 {
  padding: 4%;
}
.logo {
  width: 100px;
  margin: 0%;
}
h1 {
  font-size: 36px;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500; 
}
dd {
  margin-bottom: 10px;
}
.mobileFallback {
  height: 100% !important;
  width: auto !important;
}
#map-canvas {
  height: 300px;
}
body {
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-image: url(../img/wall.jpg);*/
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
}

#interactive-anim {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  position: fixed;
  /*margin-left: -70%;*/
  /*margin-top: -30%;*/
  background-size: cover;
  background-repeat: no-repeat;
  /*background: black;*/
  /*background-image: url('../img/layer_bg5.jpg');*/
}
.col-xs-4 {
  margin-top: -15px !important;
}
.social-text {
  margin-bottom: 20px;
}
.centered-events {
  padding: 2% 7% 1% 11%;
}
.centered-events > .col-md-4 {
  padding-left: 2%;
}
.centered-events > .col-md-12 {
  padding-right: 10%;
  padding-left: 10%;
}
.dl-horizontal > dt {
  margin-bottom: 0px;
  margin-top: 0px;
  white-space: normal;
}
dt { 
  font-size: 20px;
  font-weight: 600;
}
dl {
  margin-bottom: 5px;
  margin-top: 5px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 22px;
}
.header {
  margin-bottom: 90px;
}
.bgimg-initial, .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8{
  width: 100%;
}
.table-responsive {
    overflow-x: hidden !important;
}
.caption span.border,
.caption span.border {
  font-size: 25px;
}
.select, .select-promo {
  font-size: 20px;
  font-weight: 400;
}
p, dl {
  font-size: 20px;
}
.dl-horizontal dt {
 white-space: normal !important; 
}
.arrow {
  top: 80%;
}
#video > video{
  width: auto;
}
.centered-timetable {
  position: relative;
}
.video_contain {
    height: 100%;
}
.mobileFallback {
  width: 100% !important;
}
.video_contain {
  opacity: 1;
}
video {
  -webkit-transform: scale(1.9, 1.9); 
  -moz-transform: scale(1.9, 1.9);
  transform: scale(1.9, 1.9);
}
.about, .membership,
.social, .executives {
  background-position: 50% 50%;
}
.dl-horizontal > dt {
  white-space: nowrap;
}
.table-responsive {
  font-size: 14px;
  float: left;
}
.timetable-custom .color-white {
  margin-bottom: 0px;
}
.timetable {
  width: 100%;
  margin-top: 30px;
}/*
.guide {
  margin-top: 30px;
  width: 20%;
  margin-left: 30px;
  height: 100%;
}
.closeDiv {
  display: none;
}
.guide .table tr td p {
  font-size: 14px;
}
.guide .table tr td {
  padding: 10px;
}*/
.table-responsive table thead tr th,
.table-responsive table tbody tr th {
  font-weight: 300;
}

table {
  border-collapse: separate !important;
  border-color: none !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border: none; 
}

td { border: none; }

/*tr:first-child th:first-child, 
tr:nth-child(2) th,
tr:nth-child(3) th,
tr:nth-child(4) th, 
tr:nth-child(5) th,
tr:nth-child(6) th { 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}*/
/*thead:first-child th:last-child { 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
}*/
/*tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }*/

.timetable-bg {
  background-position: 0% 0%;
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .text-centered {
      width: 785px;
    }
    video {
        -webkit-transform: scale(4.0, 4.0); 
        -moz-transform: scale(4.0, 4.0));
        transform: scale(4.0, 4.0);
    }
    .club-banana {
      transform: translate(-10%,-15%) scale(1.3, 1.3);
    }
    .navbar-nav > li {
      top: 15vh;
    }
    .carousel-caption {
      bottom: 0px;
    }
    .navbar-default .navbar-nav > li > a {
      font-size: 32px;
    }
}

@media screen and ( min-width: 1280px ) and ( min-height: 720px ){
    video {
      -webkit-transform: scale(1.65, 1.65); 
      -moz-transform: scale(1.65, 1.65));
      transform: scale(1.65, 1.65);
    }
    h1 {
      font-size: 36px;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
    }
    .select, .select-promo {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 0px;
    }
    dt {
      line-height: 40px;
    }
    p, dl {
      font-size: 20px;
    }
    .img-circle {
      width: 85px;
      height: 85px;
      margin-bottom: 10px;
    }
    #map-canvas {
      margin-top: 15px;
      height: 300px;
    }
    .navbar-nav > li {
      top: 25vh;
    }
    .carousel-caption {
      bottom: 0px;
    }
    .club-membership {
      max-width: 220px !important;
    }
}

@media screen and ( min-width: 1400px ) {
    video {
      -webkit-transform: scale(1.2, 1.2); 
      -moz-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
    }
    .about, .membership,
    .social, .executives,
    .promo {
      background-position: center;
    }
    .club-membership {
      max-width: 320px !important;
    } 
    .club-banana {
      max-width: 120px !important;
    }
}
@media screen and ( min-width: 1800px ) {
    video {
      -webkit-transform: scale(1.65, 1.65); 
      -moz-transform: scale(1.65, 1.65);
      transform: scale(1.65, 1.65);
    }
}



@media (min-width: 1025px) {

  .video_contain > .mobileFallback {
    display: none;
  }

  video {
    display: inline-block;
  }
}

@media screen and ( width: 1280px ) and ( max-height: 719px ) {
    video {
      -webkit-transform: scale(1.0, 1.0); 
      -moz-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    h1 {
      font-size: 30px;
      margin-bottom: 10px !important;
      margin-top: 10px !important;
    }
    .select, .select-promo {
      font-size: 14px;
      margin-bottom: 9px;
      margin-top: 0px;
    }
    dt {
      line-height: 21px;
    }
    p, dl {
      font-size: 17px;
    }
    .img-circle {
      width: 65px;
      height: 65px;
      margin-bottom: 5px;
    }
    #map-canvas {
      margin-top: 15px;
      height: 250px;
    }
    .navbar-nav > li {
      top: 20vh;
    }
    .carousel-caption {
      bottom: 10px;
    }   
    .text-centered .col-xs-4 .contact p {
      margin-bottom: 2px;
    }
    .club-membership {
      max-width: 220px !important;
    }
}

.caption-block {
  width: 100%;
  height: 100%;
  position: relative;
  color: #ffffff; 
  z-index: 11;
  font-family: 'Open Sans', sans-serif; 
}

.caption {
    position: absolute;
    padding-bottom: 5px;
    left: 7%;
    width: 100%;
    text-align: left;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
  color: #fff;
  padding: 18px;
  font-size: 25px;
}

.caption span.border,
.caption span.border {
    background: #09203D;
    color: #fff;
    padding: 18px;
    letter-spacing: 5px;
}

.contacts .col-xs-4 {
  padding: 0;
  overflow: hidden;
}
dt > a,
.centered-contact > .col-md-12 > .row > p > a {
  text-decoration: underline;
  color: #fff;
}

.race-table {
  border-color: #000000;
}

.dots {
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-bottom: 1.75%;
  padding-top: 1.75%;
  margin: 0 auto;
  position: relative;
}

.sponsors {
  padding-top: 50px;
}

.color-white {
  color: #ffffff;
}
.color-blue {
  color: #0C2D56;
}

.executives-1 {
  padding-bottom: 20px;
}
.executives-2 {
  padding-bottom: 20px;
}

/*
.icon-scroll {
  z-index: 20;
  width: 20px;
  height: 35px;
  margin-left: -10px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: -2px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}*/

body:before {
  content: " ";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: auto;
/*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body, .img-circle, .img-responsive, p, dd, h1, h2, h3, h4, .text-center, .col-lg-4 {
/*  transition:all 0.2s ease-in-out; 
    -o-transition:all 0.2s ease-in-out; 
    -moz-transition:all 0.2s ease-in-out; 
    -webkit-transition:all 0.2s ease-in-out;*/
}
html {
    overflow-x: hidden;
}


/* -------------
------Timetable 
----------------*/

th {
  color: #fff;
  background-color: #242f3e;
}

td {
  color: black;
  background-color: #242f3e;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
  text-align: center;
  vertical-align: middle;
}
.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th {
  text-align: center;
}
.typeA, .typeB, .typeC {
  transition: 0.4s ease;
}
.run, .intermediate-run, .workout, .swim, .social, .parkrun {
  /*border-right: 1px solid #eaeaea !important;*/
  border-radius: 6px;
}
.run:hover, .intermediate-run:hover, .workout:hover, .swim:hover, .social:hover, .parkrun:hover {
  overflow: auto;
  transition: 0.2s ease;
}
.run {
  background-color: #43A047;
}
.intermediate-run {
    background-color: #f6ff00;
}
.workout {
  background-color: #f44336;
}
.swim {
  background-color: #03A9F4;
}
.social {
  background-color: #FF9800;
}
.parkrun {
  background-color: #82c9cf;
}
#lift1 {
  transform: perspective( 1200px ) translate3d( 0, 0px, 285px );
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: perspective(600px) translate3d(0, 0, 0);
}
.tooltip.top .tooltip-inner {
    background-color: #ffffff;
    color: #000033;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #ffffff;
      color: #0C2D56;
}
a.session-box {
    color: #fff;
    text-decoration: none;
  transition: all 0.4s ease;
}
a.session-box:hover {
  text-decoration: none;
  color: black;
}
a:focus, a:hover {
    color: white;
    text-decoration: underline;
}
.img-responsive {
  display:block;
  margin:auto;
}
.contact,
.contact:hover {
  text-decoration: none;
  color: #fff;
}
.col-xs-4, .col-xs-12 {
  transition: all 0.4s ease;
}
.col-xs-4:hover,
.col-xs-12:hover {
  transform: scale(1.1, 1.1);
}
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-decoration: underline;
  color: #fff;
}

#go-top {
    padding: 5px 3px;
    background: #0C2D56;
    border: solid white;
    z-index: 0;
    position: fixed;
    bottom: 10%;
    right: 2%;
    display: none;
}
.links {
    text-decoration: underline;
    color: white;
}
/*-----------NAVBAR STYLES-------------*/
.navbar-default {
  transition: background 0.2s, padding 0.2s;
  background-color: transparent !important;
  color: #ffffff;
  margin-bottom: 0px;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: auto;
  border-color: transparent;
  display: block;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 20;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 30px;
  height: 3px;
  border-radius: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: white !important;
  -webkit-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.running_logo {
  width: 100px;
  position: fixed;
  top: 50px;
  left: 50px;
}
/* ANIMATED MINUS */
.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-toggle.minus .icon-bar:nth-of-type(1) {
  transform: translate3d(0,6px,0);
}

.navbar-toggle.minus .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-6px,0);
}
/* END ANIMATED MINUS */

/* FORCE NAVBAR-TOGGLE */

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
  display: none !important;
}
.navbar-nav {
  float: none !important;
  margin: 0px -15px 0px -15px;
  height: 100vh;
  background-size: cover;
  background: rgba(0, 10, 36, 0.98);
  /*background: #10113e;*/
}
.navbar-nav > li {
  float: none;
  text-align: left;
  left: 43px;
}
.navbar-nav > li > a {
  color: white !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-style: italic;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.navbar-collapse.collapse.in {
  display: block !important;
}
.navbar-brand {
  font-size:14px;
}

/*----FILM GRAIN-----*/

.noise::after {
    -webkit-animation: grain_effect 0.5s 0s steps(1) infinite;
    animation: grain_effect 0.5s 0s steps(1) infinite;
    background-image: url(../img/grain.png);
    content: "";
    display: block;
    height: 110%;
    left: -5%;
    position: absolute;
    top: -5%;
    width: 110%;
}

.noise_contain {
  overflow: hidden;
  height: 100%;
  z-index: 1;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*--------ANIMATIONS-----------*/
@keyframes grain_effect {
  0%,
  100% {
    transform: translate(0, 0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(-2%, -2%);
  }
  40% {
    transform: translate(3%, 3%);
  }
  50% {
    transform: translate(-3%, -3%);
  }
  60% {
    transform: translate(4%, 4%);
  }
  70% {
    transform: translate(-4%, -4%);
  }
  80% {
    transform: translate(2%, 2%);
  }
  90% {
    transform: translate(-2%, -2%);
  }
}

@keyframes kenburns {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.3) rotate(0.3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
/* RESPONSIVE DIVS */
@media screen and ( max-width: 991px ) { 
  .timetable-custom {
    position: absolute;
    top: 25vh;
  } 
/*  .empty-block {
    background-image: url(../img/first.jpg);
    background-position: 3% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }*/
  .text-centered {
    max-width: 100%;
    padding: 0 100px 0 50px;
  }
  .no-padding .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .no-padding {
    padding: 0 70px !important;
  }
  .table-responsive {
     overflow-x: scroll !important; 
  }
  #fp-nav.right {
    display: none;
  }
  .carousel-caption {
    bottom: 10px;
  }
  .club-image {
    left: 30px;
    margin-top: 10px;
    transform: none;
  }
  .club-image-block {
    margin-top: 50px;
  }
  .club-promo {
    left: 67px;
    float: left;
  }
  .club-banana {
    float: left;
    left: -16px;
  }
  .club-membership {
    left: 1px;
    float: left;
  }
  .promo {
    overflow: hidden;
  }
  .col-xs-4 {
    margin-top: 0px !important;
  }
  video {
    display: inline-block;
    height: 100vh;
  }
  .timetable, .guide {
    float: none;
    width: 100%;
    position: relative;
  } 
  .typeRow {
    display: inline-block;
    float: left;
    height: 100%;
    width: 33.33333%;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, 
  .table>tfoot>tr>td, .table>tfoot>tr>th, 
  .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
  }
  .guide {
     margin-left: 0px; 
     margin-top: 30px; 
  }
  .table-responsive>.table>tbody>tr>td, 
  .table-responsive>.table>tbody>tr>th, 
  .table-responsive>.table>tfoot>tr>td, 
  .table-responsive>.table>tfoot>tr>th, 
  .table-responsive>.table>thead>tr>td, 
  .table-responsive>.table>thead>tr>th {
     white-space: normal;
  } 
  .club-image:hover {
    transform: none !important;
  }
  .club-promo:hover {
    transform: translate(-20%,0%) !important;
  }
  .navbar-brand {
    float: none;
    height: 50px;
    padding: 0;
    z-index: 200;
  }
  .navbar-nav > li {
    top: 25vh;
  }
  .img-circle {
    width: 85px;
    height: 85px;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  video {
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  .navbar-nav > li {
    left: 45px;
  }
  #fp-nav {
    display: none;
  }
}

@media screen and ( max-width: 479px ) { 
  .caption-block {
    padding-top: 20px;
  }
  .caption span.border,
  .caption span.border {
    font-size: 20px;
  }
  .select, .select-promo {
    font-size: 13px;
    font-weight: 800;
  }
  p, dl {
    font-size: 13px;
    line-height: 18px;
  }
  .strava {
    width: 240px;
  }
  .img-circle {
    width: 60px;
    height: 60px;
  }
  #fp-nav.right {
    display: none;
  }
  .col-md-12 {
    margin-top: 2%;
  }
  .blue-block, .black-block, .purple-block {
    width: 100%;
    height: 100%;
  }
  .col-md-12 {
    padding: 2%, 4%, 0, 4%;
  }
  .logo {
    width: 70px;
    margin: 2%;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .mobileFallback {
    width: auto;
  }
  .col-xs-4 > a > p {
      margin-bottom: 0;
  }
  #map-canvas {
    height: 250px;
  }
  .mobileHide {
    display: block;
  }
  .video_contain {
    opacity: 1;
  }
  .dl-horizontal > dt {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .timetable-bg {
    background-position: 20% 0%;
  }
  .text-centered {
    max-width: 100%;
    padding: 20px 40px 0 32px;
  }
  .timetable-custom {
    position: absolute;
    top: 9vh;
  }
  .table-responsive {
    overflow-x: scroll !important;
    font-size: 13px;
  }
  .navbar-toggle {
    top: 20px;
    right: 10px;
  }
  .navbar-nav > li {
    top: 15vh;
  }
  .empty-block {
    background-position: 23% 50%;
  }
  .no-padding {
    padding: 0 25px !important;
  }
  .col-xs-4, .col-xs-12 {
    padding-left: 15px; 
    padding-right: 0px !important; 
  }
  .carousel-caption {
    bottom: 0px;
  }
  .select {
    margin-right: 0px;
  }
  dt {
    line-height: 20px;
  }
  .club-image {
    display: block;
    width: 100%;
  }
  .about-text {
    padding: 0 !important;
  }
  .about-text-2 {
    width: 60%;
    float: left;
  }
  .club-promo {
    display: block;
    max-width: 195px !important;
  }
  .club-image-block-banana {
    float: right;
    width: 35%;
    padding-left: 5%;
    padding-right: 0;
    margin-top: 69px;
  }
  .select-promo {
    float: left;
    margin-top: 20px;
  }
  .bottom {
    padding-left: 0;
  }
  .no-padding-promo {
    margin-top: 5px;
  }
  .club-promo {
    left: 40px;
  }
  .club-image:hover {
    transform: translate(-20%,0%) !important;
  }
  .mobileHide {
    line-height: 1.0;
  }
  .no-margin-bottom {
    margin-bottom: -3px !important;
  }
  .guide {
    display: none;
  }
  .centered {
    text-align: center;
    margin: 0 auto;
  }
  .table-responsive {
    margin-bottom: 10px;
  }
  .guide .table tr td p {
    font-size: 13px;
  }
  .typeRow {
    width: 100%;
  }
  .timetable {
    margin-top: 0px;
  }
  .bottom {
   padding-bottom: 5px; 
  }
  .carousel-caption h1 {
    font-size: 40px;
    padding: 4px;
  }
  .carousel-caption {
    width: 100%;
    bottom: -9px;
    left: 0px;
    text-align: center;
  }
  video {
    -webkit-transform: scale(1.9, 1.9);
    -moz-transform: scale(1.9, 1.9);
    transform: scale(1.9, 1.9);
  }
  .running_logo {
    width: 70px;
    top: 25px;
    left: 40px;
  }
  .club-image-block {
     margin-top: -10px; 
  }
  .select, .select-promo {
    font-size: 11px; 
    padding: 5px 12px 5px 12px;
  }
  .navbar-nav > li {
    left: 30px;
  }
  .club-membership {
    max-width: 168px !important;
  }
  dl {
    margin-bottom: 0px;
  }
  dd {
    margin-bottom: 5px;
  }
  .select, .select-promo {
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .contacts .col-xs-4 {
    margin-bottom: -10px;
  }
  dt {
    font-size: 15px;
  }
  .club-image {
    margin-top: 5px;
  }/*
  #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 6px;
    width: 6px;
    margin: -3px 0 0 -3px;
  }
  .fp-right {
    left: -7px;
  }*/
}
@media screen and ( max-width: 359px ) { /*for iPhone 5 and 5S*/
    .strava {
      width: 240px;
    }
    .logo {
      width: 70px;
      margin: 2% 0 0 3%;
    }
    #fp-nav.right {
      display: none;
    }
    .img-circle {
      width: 50px;
      height: 50px;
    }
    .nav-menu {
      padding-top: 45px;
    }
    .navbar-default .navbar-nav > li > a {
     line-height: 0vh; 
    }
    p, dl {
      font-size: 12px;
      line-height: 16px;
    }
    .blue-block, .black-block, .purple-block {
      width: 100%;
      height: 100%;
    }
    #topnav .navbar-nav {
      padding-top: 45px;
      padding-right: 3% !important;
    }
    #map-canvas {
      height: 210px;
    }
    .empty-block {
      background-image: url(../img/first.jpg);
      background-position: 20% 0%;
    }
    .new {
      margin-bottom: 0px; 
      display: block;
    }
    .table-responsive {
      font-size: 13px;
    }
    .text-centered {
      padding: 0px 5px 0 5px;
    }
    .centered {
      padding: 20px;
    }
    h1 {
      font-size: 18px;
      margin-bottom: 5px !important;
    }
    .timetable-custom {
      position: absolute;
      top: 6vh;
      padding: 0px 40px 0 5px;
    } 
    .no-padding {
      padding: 3px 5px 0 5px !important;
    }
    .carousel-caption h1 {
      font-size: 36px;
      padding: 4px;
    }
    .carousel-caption {
      width: 100%;
      bottom: -9px;
      left: 0px;
      text-align: center;
    }
    .running_logo {
      width: 60px;
      top: 18px;
      left: 36px;
    }
    .navbar-toggle {
      top: 9px;
      right: 10px;
    }
    .navbar-toggle .icon-bar {
      width: 28px;
    }
    dt {
      font-size: 13px;
      line-height: 15px;
    }
    .select, .select-promo {
      font-size: 9px;
    }
    .navbar-nav > li {
      left: 26px;
      top: 22vh;
    }
}

/*-----PAGE LOAD BAR-----*/

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  bottom: 0;
  background: #e8e8e8;
  z-index : 1000; 
}

